#root {
  margin:0;
  padding:0;
  background-image: url('background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header{
  background-image: url("header-bg.png");
  background-position: contain;
  background-size: contain;
}

.body-header{
  background-image: url("header.png");
  background-position: contain;
  background-size: cover;
}

.body{
  background-image: url("bg8.png");
  background-position: cover;
  background-size: contain;
}

.left-side {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 2rem;
  height: auto;
  background-image: url("left-side-bg.png");
  background-position: contain;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 60px 10px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.left-side::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: url("left-border.png") no-repeat center;
  background-size: 100% 100%;
}

.left-side::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: url("left-border.png") no-repeat center;
  background-size: 100% 100%;
  transform: scaleY(-1);
}

.left-side-content{
  background-image: url("left-side-bg.png");
  background-position: contain;
  background-size: cover;
  background-repeat: no-repeat;
}